<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Document</title>
</head>
<body>
   <a href="/auth/login">
       <h1>Login</h1>
   </a>
   <a href="/content/new">
       <h1>New</h1>
   </a>
    <h1>Search</h1>
    <form action="/content" method="post">
        <input type="text" name="keyword" placeholder="Search">
    </form>
</body>
</html>